<div class="container-fluid">
    <h2>These are my Quotes</h2>
    <hr>
    <ul>
      <div class="row">
        <div class="col-md-6">
          <div *ngFor="let quote of quote; let i = index">
            <div>
              <h4>{{ quote.author }}, {{ quote.name }}, {{ quote.quote }}, elapsed since creation: {{ quote.countDown|date|lowercase }}</h4>             <button (click)="toggleDetails(i)">Toggle Details</button>
             
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>